  <h2>Your Cart</h2>
  <ul id="cart">
    <%= render (cart.line_items) %>
    <br>
    <li>Total: <%= number_to_currency(cart.total_price) %></li>
    <br>
    <li><%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    <li><%= link_to 'Checkout', cart_path(cart) %></li>
  </ul>