<div class="receipt">
  <h2>Your Order</h2>
  <ul>
    <%= render (@cart.line_items) %>
    <li>
      Total: <%= number_to_currency(@cart.total_price) %>
    </li>
  </ul>
  <%= link_to 'Checkout', new_checkout_path, class: 'btn btn-light' %>
</div>
