<div class="card">
  <div class="card-header">
    <h5 class="text-center"><%= post.title %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%=  truncate(post.body.html_safe, length: 250) %></p>
    <%= link_to "Full Post", post %>
  </div>
  <% if @current_user %>
    <div class="card-footer"></div>
  <% end -%>
</div>