// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
#cart {
	margin-left: 2em;

	ul {
		height: 100%;
	}

	li {
		color: white;

		form {
			margin: 0;
		}

	}

}
