// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
.depot_form {
	margin-left: 17em;

	fieldset {
		border-width: 3px;
	}
	div.field {
		margin-left: 35%;
		margin-right: 35%;
	}
	div.actions {
		margin: 0 35%
	}
}
.users_table {
	margin-left: 17em;
}